/* ============================================
; Title:  Assignment 3 – Restaurant App
; Author: Professor Krasso
; Date:   22 January 2023
; Modified By: Yakut Ahmedin
; Description: Restaurant App!!
;=========================================== */

#grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
#grid-box .card {
    width: 100%;
}


@media(max-width: 762px) {
    .card {
        width: 100%;
    }
    #grid-box {
        display: block;
    }
}